@import url(variable.css);
.grid_container{
    max-width: 1440px;
    width: 100%;
    margin: auto;
    grid-template-rows: 105px 105px 105px 105px 105px 105px 105px ;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: "main_header main_header main_header main_header"
    "section1 section1 section1 section1"
    "section2 the_img the_img main_images"
    "section2 the_img  the_img main_images"
    "section2 texts_div texts_div main_images"
    "mini_section mini_section mini_section mini_section"
    "section4 section4 section4 section4";
    background-color: var(--maincolor);
}
header{
    grid-area: main_header;
    display: flex;
width: 1400px;
justify-content: center;
align-items: center;
/* gap: 212px; */
}
.header_img{
    padding-left: 0;
    padding-right: 212px;
    color: #C3B97F;
}
ul{
    display: flex;
width: 485px;
height: 22px;
justify-content: center;
align-items: flex-start;
gap: 84px;
flex-shrink: 0;
}
.header_a{
    color: #DFD9D9;
font-family: Inter;
font-size: var(--font18);
font-style: normal;
font-weight: 400;
line-height: normal;
}
.help_tab{
    margin-left: 212px;
    display: flex;
width: 315px;
height: 32px;
padding: 8px 20px 7px 20px;
justify-content: center;
align-items: flex-start;
gap: 100px;
flex-shrink: 0;
border-radius: 4px;
background: rgba(0, 0, 0, 0.20);
box-shadow: 1.52px 3px 3px -0.8px rgba(0, 0, 0, 0.20) inset, 0px -0.3px 1px 0px rgba(223, 217, 217, 0.40) inset;
}
.help_text{
    color: #91B599;
font-family: Inter;
font-size: var(--font14);
font-style: normal;
font-weight: 400;
line-height: normal;
}
.fa-magnifying-glass{
   color:#91B599 ; 
}
.img_tab{
display: flex;
justify-content: center;
align-items: flex-start;
gap: 32px;
margin-left: 32px;
}
.fa-user{
    color:#91B599 ; 
    display: flex;
width: 32px;
height: 32px;
padding: 4px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 4px;
background: rgba(0, 0, 0, 0.20);
box-shadow: 0px 2px 4px -2px rgba(223, 217, 217, 0.40) inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
}
.fa-cart-shopping{
    color: #C3B97F;
    display: flex;
width: 32px;
height: 32px;
padding: 4px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 4px;
background: rgba(0, 0, 0, 0.20);
box-shadow: 0px 2px 4px -2px rgba(223, 217, 217, 0.40) inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
}
/* section1  */
.section1{
    grid-area: section1;
    display: flex;
width: 1440px;
height: 66px;
padding: 12px 20px;
justify-content: center;
align-items: center;
gap: 66px;
background: #91B599;
}
.section1_div{
    display: flex;
height: 24px;
align-items: center;
justify-content: center;
align-items: flex-start;
gap: 8px;
}
.fa-arrow-right{
    color: #DFD9D9;
    justify-content: center;
align-items: center;
}
.section1_text1{
    color: #DFD9D9;
font-family: Inter;
font-size:var(--font14);
font-style: normal;
font-weight: 400;
line-height: 22px; 
}
.section1_img{
    padding-left: 66px;
    padding-right: 66px;
}
/* section2  */
.section2{
    grid-area: section2;
    width: 320px;
height: 520px;
flex-shrink: 0;
    background: rgba(0, 0, 0, 0.20);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20) inset, 0px -1px 4px 0px rgba(223, 217, 217, 0.40) inset;
}
.section2_h2{
    padding-top: 38px;
    padding-left: 40px;
    color: #C3B97F;
    font-family: Inter;
    font-size: var(--font16);
    font-style: normal;
    font-weight: 400;
    line-height: 27px; 
}
.section2_h3{
    padding-top: 16px;
    padding-left: 48px;
    color: #91B599;
font-family: Inter;
font-size: var(--font16);
font-style: normal;
font-weight: 700;
line-height: 25px; 
}
.section2_mg{
    margin-left: 48px;
background: #91B599;
}
.section2_text{
    padding-top: 5px;
    padding-left: 48px;
    color: #91B599;
font-family: Inter;
font-size: var(--font14);
font-style: normal;
font-weight: 400;
line-height: 25px; 
}
.section2_text1{
    padding-left: 40px;
    color: #C3B97F;
font-family: Inter;
font-size: var(--font16);
font-style: normal;
font-weight: 400;
line-height: 27px; 
}
.section2_img1{
    margin-left: 40px;
}
/* 1 image  */
.the_img{
    grid-area: the_img;
    width: 680px;
height: 460px;
flex-shrink: 0;
display:flex;
}
/* images  */
.main_images{
    grid-area: main_images;
    display: flex;
}
.main_images1{
    background-color: var(--maincolor);
    --maincolor:#fff;
}
.main_images2{
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--maincolor);
--maincolor:#fff;
}
.main_images3{
    background-color: var(--maincolor);
    --maincolor:#fff;
}
/* texts div  */

.texts_div{
    grid-area: texts_div;
    display: inline-flex;
padding-left: 0px;
justify-content: flex-end;
align-items: center;
gap: 411px;
background: #DFD9D9;
}
.texts_text{
    color: #1C5550;
font-family: Inter;
font-size: var(--font16);
font-style: normal;
font-weight: 700;
line-height: 24px;
margin-left: 20px;
}
.texts_text1{
    display: flex;
height: 40px;
padding: 9px 50px 9px 51px;
justify-content: center;
align-items: center;
background: #C3B97F;
color: #DFD9D9;
font-family: Inter;
font-size: var(--font14);
font-style: normal;
font-weight: 700;
line-height: 22px;
}
/* mini_section  */
.mini_section{
    grid-area: mini_section;
    display: flex;
    display: inline-flex;
height: 32px;
justify-content: center;
align-items: flex-start;
gap: 1096px;
flex-shrink: 0;
}
.mini_section_h{
    color: #DFD9D9;
font-family: Inter;
font-size: var(--font24);
font-style: normal;
font-weight: 700;
line-height: 32px;
}
/* section4  */
.section4{
    grid-area: section4;
display: flex;
gap: 40px;
padding-bottom: 40px;
}
.section4_div{
    display: flex;
width: 320px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 8px;
}
.section4_text{
    width: 320px;
color: #DFD9D9;
font-family: Inter;
font-size: var(--font16);
font-style: normal;
font-weight: 400;
line-height: 24px;
}
.section4_article{
    display: flex;
height: 40px;
padding-left: 0px;
justify-content: flex-end;
align-items: center;
gap: 146px;
background: #DFD9D9;
}
.article_text{
    color: #1C5550;
font-family: Inter;
font-size: var(--font16);
font-style: normal;
font-weight: 700;
line-height: 24px;
}
.article_text1{
    display: flex;
height: 40px;
padding: 9px 8px 9px 10px;
justify-content: center;
align-items: center;
background: #C3B97F;
color: #DFD9D9;
font-family: Inter;
font-size: var(--font14);
font-style: normal;
font-weight: 700;
line-height: 22px;
}

